<span style="color: rgb(34, 34, 34); font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 30px; font-weight: bold; text-align: center;">Case Study #2 - Pizza Runner</span>

<span style="caret-color: rgb(64, 64, 64); color: rgb(64, 64, 64); font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 18px; text-size-adjust: auto; background-color: rgb(255, 255, 255);">Danny was scrolling through his Instagram feed when something really caught his eye - “80s Retro Styling and Pizza Is The Future!”.&nbsp;<span style="font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; text-size-adjust: auto;">Danny was sold on the idea, but he knew that pizza alone was not going to help him get seed funding to expand his new Pizza Empire.<br></span></span>

<span style="caret-color: rgb(64, 64, 64); color: rgb(64, 64, 64); font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 18px; text-size-adjust: auto; background-color: rgb(255, 255, 255);"><span style="font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; text-size-adjust: auto;">Because Danny had a few years of experience as a data scientist - he was very aware that data collection was going to be critical for his business’ growth.</span></span>

### **Changes in tables before starting to answer the questions**

- Had to change time of Order\_date from TIMESTAMP to DATETIME because was facing problem in it. (customer orders)
- Pickup\_time in runners\_order table is set to VARCHAR change it to DATETIME.  (Danny did it deliberately :P)

## **Pizza Metrics**

**1\. How many pizzas ordered ?**

Ans : - Nothing fancy here. Used count on order\_id column to get the total number of orders.

In [3]:
select count(order_id) as Total_Pizzas_ordered from customer_orders

Total_Pizzas_ordered
14

### **2.** <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);"><b>How many unique customer orders were made?</b></span>

### <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">Ans - Used <b>COUNT</b> on customer_id column but as the question says to find unique customers used <b>DISTINCT</b>&nbsp;to find unique customers.</span>

In [4]:
select count(distinct(customer_id)) as unique_customers from customer_orders

unique_customers
5

### **3. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">How many successful orders were delivered by each runner?</span>**

Ans :- Before writing the actual query we need to make some changes in the table. As we can see that some of the values in **cancellation column** are **NULL** even though rest of the columns in that table contain values. So we need to fix it otherwise we wont be getting out desired output. 

I'll use the **UPDATE** query in this to change values of the column

In [ ]:
update runner_orders
set cancellation = 'null'
where cancellation is NULL

Then I joined two tables 'customer\_orders' and 'runner\_orders' and used **NOT LIKE** clause to filter out the orders that were sucessfully delivered and **grouped it by** runner\_id to get successful orders delivered by each runner.

In [8]:
select count(a.order_id) as total_successful_orders, b.runner_id from customer_orders a inner join runner_orders b on a.order_id = b.order_id where b.cancellation NOT LIKE '%Cancellation%' group by b.runner_id

total_successful_orders,runner_id
6,1
5,2
1,3

Things learnt :-

- exsistance of NOT LIKE
- when we need to update column with **NULL** values we cannot use (where column = null). We have to use (where column is null) because null is a special value.

**4. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">How many of each type of pizza was delivered?</span>**

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; font-weight: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">Ans - Had to change data type of pizza_name column from text to varchar(25) because text can only be used to compare with null</span>

In [ ]:
alter table pizza_names
alter COLUMN pizza_name varchar(25)

After that, joined all the 3 required tables with where condition to filter out the successfully delivered orders and grouped them using pizza\_name column to get the total number of pizzas ordered for each type.

In [9]:
select count(a.pizza_id) as total_pizza, c.pizza_name from customer_orders a inner join runner_orders b on a.order_id = b.order_id inner join pizza_names c on a.pizza_id=c.pizza_id where b.cancellation NOT LIKE '%Cancellation%' group by c.pizza_name

total_pizza,pizza_name
9,Meatlovers
3,Vegetarian

Things learnt:- 

- Difference between VIEW and Temporary Table - temp table is only active till the session but data for the view is stored in db.
- Differnce between varchar and text.

**5. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">How many Vegetarian and Meatlovers were ordered by each customer?</span>**

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">Ans - Here as we have to find the different type of pizzas ordered by each customer, so we will use two columns in <b>GROUP BY </b>clause. First we will group it by pizza_name and then by customer_id to get the desired output.</span>

In [44]:
select count(a.order_id) as pizzas_ordered,b.pizza_name,a.customer_id from customer_orders a inner join pizza_names b on a.pizza_id = b.pizza_id group by b.pizza_name,a.customer_id

pizzas_ordered,pizza_name,customer_id
2,Meatlovers,101
1,Vegetarian,101
2,Meatlovers,102
1,Vegetarian,102
3,Meatlovers,103
1,Vegetarian,103
3,Meatlovers,104
1,Vegetarian,105

**6. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">What was the maximum number of pizzas delivered in a single order?</span>**

Ans - Here I have used two tables i.e runner\_orders and customer\_orders. Set where condition to filter out the delivered orders, group them by order\_id and ordered them by the pizza count in descending order to check the maxium orders. Lastly used TOP 1 to select only the first row as it would contain the maximum number of pizza ordered.

In [10]:
select TOP 1 COUNT(b.pizza_id) as total_pizza, b.order_id from runner_orders a inner join customer_orders b on a.order_id = b.order_id where a.cancellation not like '%Cancellation' group by b.order_id order by total_pizza DESC

total_pizza,order_id
3,4

**7. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">For each customer, how many delivered pizzas had at least 1 change and how many had no changes?</span>**

In customer orders table exclusions and extras table had different values to represent no changes made. So, updated them to bring more uniformity.

In [ ]:
update customer_orders
set exclusions = 'null', extras = 'null'
where exclusions = '' or  extras = ''

Then wrote the query with desired tables(created a view \[orders\_delivered\] to get the orders that were succesfully delivered and not cancelled) and set the where condition as **equal to 'null'** and **not equal to 'null'** respectively**.**

In [11]:
select count(a.order_id) as no_changes_pizza, b.customer_id from orders_delivered a inner join customer_orders b on a.order_id = b.order_id where exclusions = 'null' and extras = 'null' group by b.customer_id

select count(a.order_id) as atleast_one_change_pizza, b.customer_id from orders_delivered a inner join customer_orders b on a.order_id = b.order_id where exclusions <> 'null' or extras <> 'null' group by b.customer_id

no_changes_pizza,customer_id
1,102
1,104

atleast_one_change_pizza,customer_id
2,101
2,102
3,103
2,104
1,105

**8. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">How many pizzas were delivered that had both exclusions and extras?</span>**

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; font-weight: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">Ans - Similar to the above question but here we don't need to group it by customer_id as we only want the total number of pizzas.</span>

In [13]:
select count(a.order_id) as total_pizzas from orders_delivered a inner join customer_orders b on a.order_id = b.order_id where exclusions <> 'null' and extras <> 'null'

total_pizzas
7

**9. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">What was the total volume of pizzas ordered for each hour of the day?</span>**

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">Ans - Used DATEPART() here to get hours out of order_time column and grouped it to get total orders for each hour.</span>

In [14]:
select count(order_id),DATEPART(HOUR,order_time) from customer_orders group by DATEPART(HOUR,order_time)

(No column name),(No column name)
1,11
3,13
3,18
1,19
3,21
3,23

Things learnt - 

- DATEPART() - we can use it to get different parts of the datetime column.

**10. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">What was the volume of orders for each day of the week?</span>**

Ans - <span style="color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Used DATETIME() here to get days of the week out of order_time column and grouped it to get total orders for each day.</span>

In [15]:
select count(order_id),DATENAME(dw,order_time) from customer_orders group by DATENAME(dw,order_time)

(No column name),(No column name)
5,Friday
5,Monday
3,Saturday
1,Sunday

Things learnt - 

- DATENAME() - used it to get the day of the week from datetime column